<h2> Recently Reviewed Movies </h2>

<div id="recent-movies">
    <% @movies_list.each do |movie| %>
    <div class="home-movie inline-block">
      <div class="home-movie-poster"> <img class="movie-image" src="<%= movie[:Poster] %>"> </div>
      <div class="overlay white-overlay">
        <div class="overlay-title">
            <%=link_to movie[:Title], "/movies/#{movie[:imdbID]}" %>
        </div>
        <div class="overlay-stars">
            <%= Review.for_movie([movie[:imdbID]])[-1].stars %>
        </div>
        <div class="overlay-users">
            -- <%= link_to Review.for_movie([movie[:imdbID]])[-1].username, user_path(Review.for_movie([movie[:imdbID]])[-1].user) %>
        </div>
      </div>
    </div>
    <% end %>
</div>
