<ul>
  <% unless @errors %>
    <%  @movies_list.each do |movie| %>
    <li><%= link_to movie[:Title], movie[:imdbID] %></li>
    <% end %>
  <% else %>
    <p> no results found </p>
  <% end %>
</ul>
