<div class="review">
  <h3 class="review-title">
    <%= review.title %>
  </h3>

  <div class="review-stars">
    <%= review.stars %>
  </div>

  <p class="review-body">
    <%= review.body %>
  </p>
</div>
