.home-movie {
  width:250px;
  position: relative;
}

.recent-movies {
  text-align: center;
}

.movie-image {
  width: 250px;
  height: 390px;
}


.recent-list {
  list-style: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 30px;
  width: 250px;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;}

.overlay-title {
  font-size: 1.4em;
}

.overlay-date {
  font-size: 1.2em;
  font-weight: 800;
}

.overlay-rating {
  font-size: 1.4em
}
.white-overlay:hover {
  text-decoration: underline;
}

.homepage-header {
  font-family: "Open Sans", "Helvetica Neu", Helvetica;
  font-weight: 100;
  line-height: 1.1;
  color: #222;
  font-size: 60px;
  margin-top: 21px;
  margin-bottom: 10.5px;
  -webkit-font-smoothing: antialiased;
}

.homepage-subheader {
  font-family: "Open Sans", "Helvetica Neu", Helvetica;
  line-height: 1.4;
  font-weight: 300;
  color: #6f6f6f;
  font-size: 22.5px;
  margin-top: 21px;
  margin-bottom: 10.5px;
  -webkit-font-smoothing: antialiased;
}

.homepage-sub-subheader {
  font-family: "Open Sans", "Helvetica Neu", Helvetica;
  line-height: 1.2;
  font-weight: 300;
  color: #6f6f6f;
  font-size: 15.5px;
  margin-top: 11px;
  margin-bottom: 10.5px;
  -webkit-font-smoothing: antialiased;
}

.homepage-link {
  color: white;
}
