
<%= form_for :movies, url: movies_search_path do |f|  %>
<div class="input-field">
  <%= f.text_field :search, required: true, id: "search", type:"search", placeholder:"Search for movies..."%>

</div>

<% end %>
